<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
  <body>
    <div class="">
      <form action="/wrap" method="get">
        <input type="text" name="string" placeholder="Please provide block of text to wrap.">
        <input type="number" name="column_number" placeholder="After how many characters should it wrap?">
        <input type="submit">
      </form>
      <div>
        <h3>Unwrapped string:</h3>
        <p><%= @unwrapped_string %></p>
        <h3>Column length:</h3>
        <p><%= @column_number %></p>
        <h3>Wrapped string:</h3>
        <p style="white-space: pre-wrap"><%= @string_array.join("\n") %></p>
      </div>
    </div>
  </body>
</html>